In [1]:
from pandas import DataFrame as df
from db import DB, Corpus, Doc, Line, Form, Predict, Lemma, LemmaRaw
from sqlalchemy import text
# from sqlmodel import select

In [2]:
db = DB()
s = db.s

# db.init()
# db.add_test()
db.stat()

1: corpus
1: doc
1: line
2: form
1: predict
0: predictraw
1: lemma
1: lemmaraw

In [3]:
# print(db.df(Corpus))
# print(db.df())
print(df(db.get_doc()))
print(db.df(Line))
print(db.df(Form))
print(db.df(Predict))
print(db.df(Lemma))
print(db.df(LemmaRaw))
db.get_lemma()

   id        doc corpus
0   1  forms.txt  iswoc
   id  doc_id  num               line             lemmas
0   1       1    1  Mæg gehyran se ðe  mag gehyran se þe
   id  line_id  num form lemma
0   1        1    1  Mæg   mag
1   4        1    4   ðe    þe
   id  line_id       model  done  no_eq                         at  \
0   1        1  mistral:7b  True      0 2025-01-03 10:23:28.830015

   load_duration  prompt_eval_duration  eval_duration  prompt_tokens  \
0       21163667             261000000      551000000             30

   completion_tokens  temperature
0                 31          0.0
   id  predict_id  form_id lemma    eq
0   1           1        1   mag  True
   id   en     ru    morph   syntax  \
0   1  can  может  pronoun  subject

                                                 raw
0  {'word_form': 'Mæg', 'lemma': 'mag', 'translat...

{'word_form': 'Mæg',
 'lemma': 'mag',
 'translation_en': 'can',
 'translation_ru': 'может',
 'morph_analysis': 'pronoun, 3rd person singular present subjunctive of magan (can)',
 'syntax_analysis': 'subject'}

In [4]:
db.df(Form)

   id  line_id  num form lemma
0   1        1    1  Mæg   mag
1   4        1    4   ðe    þe

In [5]:
df(s.exec(text("SELECT * FROM Form")).all()) # type: ignore

   id  line_id  num form lemma
0   1        1    1  Mæg   mag
1   4        1    4   ðe    þe