In [1]:
from pandas import DataFrame as df
from db import DB, Corpus, Doc, Line, Form, Predict, Lemma, LemmaRaw
from sqlalchemy import text
# from sqlmodel import select

In [19]:
db = DB()
s = db.s

# db.init()
# db.add_test()
db.stat()

1: corpus
5: doc
2541: line
28300: form
55: predict
55: predictraw
319: lemma
319: lemmaraw

In [3]:
# print(db.df(Corpus))
# print(db.df())
print(df(db.get_doc()))
print(db.df(Line))
print(db.df(Form))
print(db.df(Predict))
print(db.df(Lemma))
print(db.df(LemmaRaw))
db.get_lemma()

   id        doc corpus
0   0  forms.txt  iswoc
   corpus_id  doc_id  id               line             lemmas
0          0       0   0  Mæg gehyran se ðe  mag gehyran se þe
   corpus_id  doc_id  line_id  id form lemma
0          0       0        0   0  Mæg   mag
1          0       0        0   3   ðe    þe
   corpus_id  doc_id  line_id  id       model  done  no_eq  \
0          0       0        0   1  mistral:7b  True      0

                          at  load_duration  prompt_eval_duration  \
0 2025-01-03 10:23:28.830015       21163667             261000000

   eval_duration  prompt_tokens  completion_tokens  temperature
0      551000000             30                 31          0.0
   corpus_id  doc_id  line_id  form_id  predict_id lemma    eq
0          0       0        0        0           1   mag  True
   corpus_id  doc_id  line_id  form_id  predict_id   en     ru    morph  \
0          0       0        0        0           1  can  может  pronoun

    syntax                                                raw
0  subject  {'word_form': 'Mæg', 'lemma': 'mag', 'translat...

{'word_form': 'Mæg',
 'lemma': 'mag',
 'translation_en': 'can',
 'translation_ru': 'может',
 'morph_analysis': 'pronoun, 3rd person singular present subjunctive of magan (can)',
 'syntax_analysis': 'subject'}

In [4]:
db.df(Form)

   corpus_id  doc_id  line_id  id form lemma
0          0       0        0   0  Mæg   mag
1          0       0        0   3   ðe    þe

In [5]:
df(s.exec(text("SELECT * FROM Form")).all()) # type: ignore

   corpus_id  doc_id  line_id  id form lemma
0          0       0        0   0  Mæg   mag
1          0       0        0   3   ðe    þe

In [11]:
line = db.get_test_line()
line

Line(doc_id=2, num=44, lemmas='Apollonius cweþan', id=244, line='Apollonius cwæð')

In [13]:
len(line.forms)

2

In [8]:
db.df(Predict)

,id,line_id,model,done,no_eq,at,load_duration,prompt_eval_duration,eval_duration,prompt_tokens,completion_tokens,temperature
0,1,1,mistral:7b,True,0,2025-01-03 10:23:28.830015,21163667,261000000,551000000,30,31,0.0