In [5]:
from llm import LLM, LLM_Stream
from db import DB, Corpus, Doc, Line, Form, Predict, PredictRaw, Lemma, LemmaRaw
from datetime import datetime
from sqlmodel import SQLModel, Field, Relationship, UniqueConstraint, create_engine, Session, select, delete
from time import sleep
from textwrap import dedent, wrap
from pandas import DataFrame as df
import json

In [2]:
llm = LLM()
# llm.complete()
# llm.debug()
db = llm.db
db.del_test()
db.stat()

1: corpus
5: doc
2541: line
28300: form
42: predict
42: predictraw
295: lemma
295: lemmaraw

In [3]:
for line in llm.db.get_line():
  try:
    print(llm.lemmatize(line))
  except KeyboardInterrupt:
    print('.. вы остановили расчет')
    break

json load ERR:  [  {    "word_form": "AMEN",    "lemma": "amen",    "translation_en": "Amen",    "translation_ru":
line: 197 ERR: not content
json load ERR:  [  {    "word_form": "seofan",    "lemma": "sceofan",    "translation_en": "to look at, observe",
line: 1739 ERR: not content
line: 605 ERR: 1 < 2
(617, 0, 2)
(1215, 2, 2)
(1263, 0, 2)
line: 1282 ERR: 1 < 2
line: 1296 ERR: 1 < 2
(1311, 1, 2)
line: 1426 ERR: 1 < 2
line: 1533 ERR: id=19107 form='for.an' num=1 line_id=1533 lemma='for.an' != {'word_form': 'for', 'lemma': 'for', 'translation_en': 'for', 'translation_ru': 'для', 'morph_analysis': 'preposition', 'syntax_analysis': 'marker of the infinitive'}
None

/Users/malex/src/nora_python/.venv/lib/python3.12/site-packages/sqlmodel/orm/session.py:127: SAWarning: Object of type <Lemma> not in session, add operation along 'Form.lemmas' will not proceed (This warning originated from the Session 'autoflush' process, which was invoked automatically in response to a user-initiated operation.)
  return super().execute(

(1578, 1, 2)
(1580, 1, 2)
(1681, 2, 2)
line: 1738 ERR: 1 < 2
line: 1771 ERR: 1 < 2
(1790, 0, 2)
(1822, 2, 2)
line: 1852 ERR: 1 < 2
line: 1918 ERR: 1 < 2
line: 1923 ERR: 1 < 2
line: 1960 ERR: 1 < 2
(2000, 0, 2)
(2091, 2, 2)
.. вы остановили расчет

In [3]:
# llm.lemmatize()

(244, 0)

In [4]:
# llm_stream = LLM_Stream()
# llm_stream.stream_complete("Напиши короткое стихотворение")
# # llm_stream.debug()

In [5]:
# line: Line = db.tbl(Line, 1).one()
# line.forms

In [ ]:
# s = db.s
# line = llm.db.get_test_line()
# raw = llm.response.raw
# raw["created_at"]
# db.stat()

In [8]:
# s.exec(delete(PredictRaw))
# s.exec(delete(Lemma))
# s.exec(delete(LemmaRaw))
# s.commit()
# db.stat()

In [17]:
# textwrap.shorten

In [ ]:
# print(db.one(Predict, 1).raw.content)

In [4]:
df(db.s.exec(
    select(Lemma.eq, Lemma.lemma, Form.lemma, Form.form)
    .join(Form, Form.id == Lemma.form_id)
    .where(Lemma.predict_id == 1)
).all())

       eq          lemma     lemma_1        form
0   False           that         þes         Ðæs
1   False            day       þegen        ðægn
2   False         Philip   Philippus   Philippus
3   False            not          ne           n
4   False             is       wesan          æs
5   False            not          na          na
6   False         filled   gefullian    gefullod
7    True             on          on          on
8    True            God         God        Gode
9   False        because      forðam      forþan
10  False            the          þe          þe
11  False   Christianity  Cristendom  cristendom
12  False             is          ne           n
13  False             is       wesan          æs
14  False           that          þa          þa
15  False          still         git         gyt
16  False        through       geond       geond
17  False            all         eal        eall
18  False      knowledge      cunnan         cuð
19   True            and         and         and
20  False            the          se         seo
21  False  righteousness        reðe        reþe
22  False          honor     eahtnes     æhtnyss
23  False           that          þa          þa
24  False          still         git         gyt
25  False             is          ne           n
26  False             is       wesan          æs
27  False    established   gestillan   gestylled

In [5]:
# db.df(Predict, 3)
db.df(Predict)

/Users/malex/src/nora_python/.venv/lib/python3.12/site-packages/sqlmodel/orm/session.py:66: SAWarning: Object of type <Lemma> not in session, add operation along 'Form.lemmas' will not proceed (This warning originated from the Session 'autoflush' process, which was invoked automatically in response to a user-initiated operation.)
  results = super().execute(

,id,line_id,model,done,no_eq,at,load_duration,prompt_eval_duration,eval_duration,prompt_tokens,completion_tokens,temperature,test
0,1,4,mistral:7b,True,25,2025-01-11 18:50:28.836595,5611709,560000000,63074000000,179,2314,0.0,False
1,2,6,mistral:7b,True,13,2025-01-11 20:40:04.691167,5186958,509000000,39727000000,167,1540,0.0,False
2,3,8,mistral:7b,True,12,2025-01-11 20:40:58.710192,5916667,548000000,31325000000,150,1240,0.0,False
3,4,10,mistral:7b,True,13,2025-01-11 20:42:06.542800,5843083,523000000,28839000000,148,1127,0.0,False
4,5,12,mistral:7b,True,11,2025-01-11 20:44:00.771678,5769041,548000000,41758000000,164,1512,0.0,False
5,6,15,mistral:7b,True,3,2025-01-11 20:44:41.286079,6170833,466000000,10391000000,128,433,0.0,False
6,7,17,mistral:7b,True,20,2025-01-11 20:46:20.464959,6091417,532000000,60709000000,173,2101,0.0,False
7,8,18,mistral:7b,True,19,2025-01-11 20:47:22.055271,7614541,605000000,60951000000,180,2124,0.0,False
8,9,19,mistral:7b,True,9,2025-01-11 20:47:48.843750,5597125,447000000,26322000000,143,960,0.0,False
9,10,24,mistral:7b,True,5,2025-01-11 20:50:01.233456,11399167,470000000,12922000000,130,499,0.0,False
10,11,25,mistral:7b,True,6,2025-01-11 20:50:17.166995,12408125,474000000,15434000000,131,583,0.0,False
11,12,26,mistral:7b,True,4,2025-01-11 20:50:33.093838,6048208,471000000,15431000000,131,581,0.0,False
12,13,27,mistral:7b,True,4,2025-01-11 20:50:49.697999,5980542,545000000,16040000000,130,612,0.0,False
13,14,28,mistral:7b,True,15,2025-01-11 20:51:32.318892,5607875,625000000,41977000000,167,1414,0.0,False
14,15,30,mistral:7b,True,6,2025-01-11 20:52:17.224314,5971375,477000000,15541000000,128,582,0.0,False
15,16,31,mistral:7b,True,25,2025-01-11 20:53:43.904410,5445375,687000000,85976000000,204,2676,0.0,False

In [ ]:
# for line in db.get_line():
#   print(line)
#   sleep(1)

In [5]:
for line in llm.db.get_line():
  try:
    print(llm.lemmatize(line))
  except KeyboardInterrupt:
    print('.. вы остановили расчет')
    break

line: 1 ERR: line_id=1 num=13 lemma='heo' id=14 form='heo' != {'word_form': 'ðurh', 'lemma': 'þurh', 'translation_en': 'through', 'translation_ru': 'через', 'morph_analysis': 'preposition, dative case of þurh (through)', 'syntax_analysis': 'preposition'}
None

/Users/malex/src/nora_python/.venv/lib/python3.12/site-packages/sqlmodel/orm/session.py:127: SAWarning: Object of type <Lemma> not in session, add operation along 'Form.lemmas' will not proceed (This warning originated from the Session 'autoflush' process, which was invoked automatically in response to a user-initiated operation.)
  return super().execute(

line: 2 ERR: line_id=2 num=24 lemma='Alexandria' id=49 form='Alexandria' != {'word_form': 'ðone', 'lemma': 'dæn', 'translation_en': 'that', 'translation_ru': 'этот', 'morph_analysis': 'DET, SG, ACC', 'syntax_analysis': 'determiner'}
None
line: 3 ERR: line_id=3 num=0 lemma='and' id=50 form='And' != {'word_form': 'he', 'lemma': 'hē', 'translation_en': 'he', 'translation_ru': 'он', 'morph_analysis': '3sg pronominal pronoun', 'syntax_analysis': 'subject'}
None
line: 5 ERR: line_id=5 num=0 lemma='his' id=97 form='His' != {'word_form': 'he', 'lemma': 'hē', 'translation_en': 'he', 'translation_ru': 'он', 'morph_analysis': '3sg pronominal pronoun', 'syntax_analysis': 'subject'}
None
line: 7 ERR: line_id=7 num=10 lemma='on' id=148 form='on' != {'word_form': 'uðwytegunge', 'lemma': 'understanding', 'translation_en': 'understanding', 'translation_ru': 'понимание', 'morph_analysis': 'noun, genitive singular feminine', 'syntax_analysis': "attribute of 'Eugenia'"}
None
line: 9 ERR: line_id=9 num=11 lemma='þe' id=176 form='ðe' != {'word_form': 'de', 'lemma': 'de', 'translation_en': 'that', 'translation_ru': 'это', 'morph_analysis': 'Old English pronoun, nominative singular masculine/neuter', 'syntax_analysis': 'subject of the subordinate clause'}
None
line: 11 ERR: line_id=11 num=15 lemma='geleafful' id=212 form='geleaffulne' != {'word_form': 'gleaffulne', 'lemma': 'gleafful', 'translation_en': 'faithful, believing', 'translation_ru': 'верующий', 'morph_analysis': 'adj (adjective)', 'syntax_analysis': 'adjective'}
None
line: 13 ERR: line_id=13 num=1 lemma='dii' id=248 form='dii' != {'word_form': 'diis', 'lemma': 'deus', 'translation_en': 'god', 'translation_ru': 'бог', 'morph_analysis': 'Plural, Accusative, Masculine/Feminine/Neuter', 'syntax_analysis': 'Object'}
None
line: 14 ERR: line_id=14 num=5 lemma='Deofol' id=260 form='deofla' != {'word_form': 'deofola', 'lemma': 'dæfol', 'translation_en': 'devil', 'translation_ru': 'дьявол', 'morph_analysis': 'Gen.Pl.MascNoun', 'syntax_analysis': 'Object'}
None
line: 16 ERR: line_id=16 num=14 lemma='wesan' id=280 form='wæron' != {'word_form': 'wæreron', 'lemma': 'weran', 'translation_en': 'were', 'translation_ru': 'были', 'morph_analysis': 'Verb (Plural, Past Tense of weran)', 'syntax_analysis': 'Verb'}
None
line: 20 ERR: line_id=20 num=7 lemma='forlætan' id=356 form='forleton' != {'word_form': 'oð', 'lemma': 'od', 'translation_en': 'from', 'translation_ru': 'от', 'morph_analysis': 'preposition, dative singular neuter', 'syntax_analysis': 'preposition'}
None
line: 21 ERR: line_id=21 num=0 lemma='on' id=373 form='On' != {'word_form': 'ðam', 'lemma': 'dat', 'translation_en': 'the', 'translation_ru': 'те', 'morph_analysis': 'Dative singular masculine/neuter pronoun', 'syntax_analysis': 'Subject of the sentence'}
None
line: 22 ERR: line_id=22 num=4 lemma='est' id=393 form='est' != {'word_form': 'et', 'lemma': 'et', 'translation_en': 'and', 'translation_ru': 'и', 'morph_analysis': '', 'syntax_analysis': 'conjunction'}
None
line: 23 ERR: line_id=23 num=5 lemma='wesan' id=404 form='is' != {'word_form': 'gerihtlæced', 'lemma': 'rihtlac', 'translation_en': 'rightly guided', 'translation_ru': 'правильно направляемый', 'morph_analysis': 'Part.Past.Masc.Noun.', 'syntax_analysis': 'Adjective'}
None
.. вы остановили расчет

In [8]:
# for line in llm.db.get_line():
#   # db.one(Line, line.id)
#   print(line)
#   sleep(1)